<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Enter your email" />
    <small *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">Email is required.</small>
    <small *ngIf="form.get('email')?.hasError('email')">Enter a valid email.</small>

   <div class="password-field">
      <label>Password</label>
      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Enter your password"
        />
        <span class="toggle-eye" (click)="togglePassword()">
          <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </span>
      </div>
      <small *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
        Password is required.
      </small>
    </div>


    <button class="btn primary" type="submit" [disabled]="form.invalid">Login</button>

    <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>

    <p>Don’t have an account? <a routerLink="/register">Create one</a></p>
  </form>
</div>
